// Fuentes
$fuente_principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$azul: rgb(15, 192, 223);
$rojo: #c00808;
$verde:#0b9432;
$negro: #1a1b15;

$blanco: #f6f6f6;
$gris: #d8d6d6;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900